<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mission to Mars</title>

       <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
       <link rel="stylesheet" href="style.css">

</head>
<body>
    <div class="jumbotron">
        <h1 class="display-3">Mission to Mars</h1>
        <p class="lead">This scrapes various websites for data related to the Mission to Mars and displays the information</p>
        <hr class="my-4">
        <p>Ready, go!</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a>
        </p>
      </div>
    <dir>
        {{mars}}
    </dir>

</body>
</html>